name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: List files
        run: |
          tree

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Check
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics

      - name: Unit Test
        run: |
          pytest -v

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Check out branch
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERPASSWORD }}

      - name: Build and Push Image
        run: |
          docker build -t hiankit/devops-docker:${{ github.sha }} .
          docker push hiankit/devops-docker:${{ github.sha }}

      - name: Deploy Container App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "devOps-docker"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: hiankit/devops-docker:${{ github.sha }}
